html{
	font-family: sans-serif;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba (0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 14px;
	margin: 0;
	font-family: sans-serif;
	line-height: 1.43;
	color: #0bbc85;
	background-color: #fff;
}

footer,
menu {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	line-height: 30px;
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #254737;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	padding-top: 10px;
	padding-bottom: 0px;
}

h1:after {
	display: block;
	content: "";
	height: 2px;
	width: 150px;
	background: #254737;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

h2 {
	width: 70%;
	text-align: center;
	margin: 0 auto; 
	color: #13161B;
	font-weight: 500;
	font-size: 1.3em;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	padding-top: none;
	padding-bottom: none;
}

h2 span {
	width: 70%;
	text-align: center;
	margin: 0 auto; 
	color: #13161B;
	font-weight: 500;
	font-size: 1.5em;
	letter-spacing: .4pt;
	word-spacing: .3pt;
	padding: none;
}

h3 {
	line-height: 30px;
	padding: 20 px;
}

h4 {
	padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
	font-size: 22px;
	font-weight: 900;
}
p {
	font-weight: 300;
	line-height:30 px;
    padding-bottom: 15px;
	text-align: center;
}

.text-center {
	text-align: center;
	padding: 0px;
}

.heading-padding {
	padding: 15px;
}

.gallery {
	padding-top: 50px;
	margin-top: 50px;
}

.menu {
	height: 100px;
	max-height: 340px;
	display: block;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: none;
	padding-bottom: none;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}

.clearfix:after,
.container:after,
.menu:after {
	clear: both;
	display: table;
	content: " ";
}

.wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	/*this ensures images stay inside containers*/
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
}

.menu-container {
	max-height: 34px;
	margin: auto;
	content: " ";
	width: 100%;
	position: fixed;
	z-index: 100%;
}

/*HOME SECTION STYLES*/
#home {
	background: url(IMG/FULL/bg_01.jpg) no-repeat 100% 100%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-c-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px;
	padding-bottom: 500px;
	color: #fff;
}

.head-main {
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	font-variant: small-caps;
	color: #fff;
	letter-spacing: 5pt;
	word-spacing: 21pt;
	font-size: 40pt;
	text-align: center;
	font-family: impact, sans-serif;
	line-height: 2;
	font-weight: 900;
	border: 5px double #fff;
	padding: 10px;
}

.head-sub-main {
	font-size: 23px;
	font-weight: 500;
	padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
font-size: 18px;
font-weight: 900;
padding: 5px 20px 20px 20px;
border: 1px dotted #fff;
padding: 5px;
}

/*CONTACT STYLES*/
.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: rgba(100,65,0,.3);
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#contact {
	background-color: #c7e0d8;
	border-radius: 8px;
}
.contact {
	width: 60%;
	padding: 15px;
	border-radius: 8px;
	margin: auto;
	background-color: #7f968f;
	box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.contact h1{
	line-height: 30px;
	font-weight: 900;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #254737;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	padding-top: 10px;
	padding-bottom: 0px;
}

.contact h1:after {
	display: block;
	content: "";
	height: 2px;
	width: 150px;
	background: #254737;
	margin: 5px auto 40px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}

.contact h2 {
	width: 100%;
	text-align: center;
	margin: 0 auto; 
	color: #13161B;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: 0pt;
	word-spacing: 0pt;
	padding-top: none;
	padding-bottom: none;
}

.contact h2 span {
	width: 70%;
	text-align: center;
	margin: 0 auto; 
	color: #13161B;
	font-weight: 500;
	font-size: 1.5em;
	letter-spacing: .4pt;
	word-spacing: .3pt;
	padding: none;
}

.contact h3 {
	width: 70%;
	text-align: center;
	margin: 0 auto; 
	color: #13161B;
	font-weight: 300;
	font-size: 1.0em;
	letter-spacing: 0pt;
	word-spacing: 0pt;
}

.contact p {
	color: #13161b;
	width: 50%;
	margin: 0 auto;
}

.contact form {
	font-size: 15px;
	outline: none;
	font-weight: 600px;
	color: #8d8e8f;
	padding: 12px 12px;
	width: 70%;
	border: 1px solid #808080;
	margin: 2% auto;
	border-radius: 7px;
	background: rgb(227,222,222);
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
}

.contact input[type="text"] {
	font-size: 15px;
	outline: none;
	font-weight: 600px;
	color: #8d8e8f;
	padding: 2% 1% 2% 7%;
	width: 80%;
	border-top: 1px solid #09080d;
	border-right: 2px solid #424549;
	border-bottom: 2px solid #424549;
	border-left: 1px solid #09080d;
	margin: 10px 1em;
	border-radius: 7px;
	background: #13161b;
	box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
	font-family: 'Raleway', sans-serif;
}

.contact input[type="text"]:hover {
	box-shadow: 0 0 18px rgba(100,65,0,.8);
}

.form-spacer {
	padding: 20px 29px;
}
 
.submit input[type="submit"] {
	color: #fff;
	cursor: crosshair;
	border: none;
	font-weight: 900;
	outline: none;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 3%;
	padding: 7px 0px;
	width: 25%;
	font-size: 15px;
	transition: border-color 0.3% color 0.3% background-color 0.3%;
	border-radius: 7px;
	background-color: #0bbc85;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
	font-variant: small-caps;
}

.submit input[type="submit"]:hover {
	color: #555;
	background-color: #2e7a62;
	box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
	font-variant: small-caps;
}

.updated input[type="updated"] {
	color: #fff;
	cursor: crosshair;
	border: none;
	font-weight: 900;
	outline: none;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 0px 3%;
	padding: 7px 0px;
	width: 25%;
	font-size: 15px;
	transition: border-color 0.3% color 0.3% background-color 0.3%;
	border-radius: 7px;
	background-color: #0bbc85;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
	font-variant: small-caps;
}

.updated input[type="updated"]:hover {
	color: #555;
	background-color: #2e7a62;
	box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
	font-variant: small-caps;
}

/*FOOTER STYLES*/
#footer {
	font-variant: small-caps;
	background-color: rgba(100,65,0,.3);
	color: #000;
	text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
	padding: 20px 50px 20px 50px;
	text-align: right;
}